* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    font-family: "Beaufort for LOL", sans-serif;
    background-color: #000;
}

.wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

/* LEFT IMAGE */
.left {
    flex: 1.5;
    position: relative;
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
        url("../assets/img/sign-bg.jpg") no-repeat center center;
    background-size: cover;
    margin: 10px;
    border-radius: 20px;
}

.left-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 95%;
    color: white;
    display: grid;
    gap: 10px;
    font-size: 1.1rem;
}

/* RIGHT FORM */
.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: rgb(171, 175, 178);
    padding: 20px;
}

.header {
    margin-bottom: 30px;
    text-align: center;
}

.top-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    color: rgb(178, 171, 171);
    font-size: 1.8rem;
}

.card {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input {
    display: flex;
    flex-direction: column;
    text-align: left;
}

input {
    background-color: #000;
    color: #fff;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #444;
    width: 100%;
    margin-top: 5px;
    transition: 0.3s ease;
}

input::placeholder {
    color: #888;
}

input:focus {
    outline: none;
    border: 1px solid rgb(16, 109, 109);
    box-shadow: 0 0 6px rgba(16, 109, 109, 0.5);
}

button {
    background-color: rgb(6, 49, 49);
    color: #fff;
    height: 45px;
    border-radius: 7px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    transition: all 0.3s ease;
}

button:hover {
    cursor: pointer;
    background-color: rgba(6, 49, 49, 0.8);
}

.signup_link {
    display: flex;
    justify-content: center;
}

.signup_link a {
    text-decoration: none;
    color: rgb(16, 109, 109);
    font-weight: 600;
    transition: 0.3s ease;
}

.signup_link a:hover {
    color: rgba(16, 109, 109, 0.8);
}

img {
    max-width: 50px;
}

/* Footer */
.bottom-text {
    width: 40%;
    position: absolute;
    text-align: center;
    bottom: 10px;
    right: 0px;
    font-size: 0.9rem;
    color: white;
}

/* Responsive */
@media (max-width: 750px) {
    .wrapper {
        flex-direction: column;
    }

    .left {
        display: none;
    }

    .right {
        width: 100%;
    }

    .card {
        max-width: 90%;
    }

    .bottom-text {
        right: 50%;
        width: 100%;
        transform: translateX(50%);
    }
}